body {
  margin: 30px;
}

.boxes {
  /*直下のdivを指定するには>を使う*/
  margin: 10px;
  width: 157px;
  height: 157px;
  border: 1px solid grey;
  cursor: pointer;
  > div {
    background: #f2f2f2;
    float: left;
    div {

      border: 1px solid grey;
      width: 50px;
      height: 50px;
    }
  }
}

.maru_batsu {
  text-align: center;
  font-size: 2em;
}

}