@import "base";

.iberia{
  display:flex;
  div{
    padding: 5px;
  }
}

/*検証→Elementsから文字列の幅がわかる*/

label{
  color: $base-color;
}

/*子クラスを指定するには.の前にスペースが必要*/
.iberia .number{
  width: 48px;
}

.iberia .title{
  width: 160px;
}

.iberia .time{
  width: 105px;
}

.iberia .music_key{
  width: 100px;
}

form div{
  display:flex;
  padding: 2.5px 0px 2.5px 2.5px;
}

form div div.label{
  width: 65px;
}

input[type="submit"]{
  font-size: 1.5em;
  padding: 5px 0px 0px 2.5px;
}